@{
    ViewBag.Title = "videos";
    Layout = "~/Views/Shared/_Layoutchicken.cshtml";
}

	<div class="body">
		<div>
			<div class="header">
		<ul>
					<li>
						<a href="~/Home">HOME</a>
					</li>
					<li>
						<a href="~/Recipes/Recipes">RECIPIE BOOKS</a>
					</li>
					 <li>
						<a href="~/Home/search">Search</a>
					</li>
					<li>
						<a href="~/Videos/Videos">VIDEOS</a>
					</li>
					<li>
						<a href="~/About/About">ABOUT</a>
					</li>
             <li>
						<a href="~/Home/Gallary">GALLARY</a>
					</li>
					
				</ul>
			</div>
			<div class="body">
				<div id="content">
					<div>
						<div>
							<ul>
								<li>

									<video width="700" height="700" controls>
  <source src="~/myVideos/Chicken Biryani Ii Bajias Cooking [Yutube.PK].mp4" type="video/mp4">
</video>
									
								
								</li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
	</div>
</body>
</html>
